.rc-table {
  font-size: 12px;
  line-height: 1.5;

  position: relative;

  box-sizing: border-box;

  color: #666;

  &-rtl {
    direction: rtl;
  }

  & table {
    width: 100%;

    border-spacing: 0;
  }

  & th,
  & td {
    position: relative;

    box-sizing: border-box;
    padding: 16px 8px;

    white-space: normal;
    word-break: break-word;

    border: 1px solid #000;
    border-top: 0;
    border-left: 0;

    transition: box-shadow 0.3s;

    .rc-table-rtl& {
      border-right: 0;
      border-left: 1px solid #000;
    }
  }

  &-cell {
    &-fix-left,
    &-fix-right {
      z-index: 1;
    }

    &-fix-right:last-child:not(&-fix-sticky) {
      border-right-color: transparent;
    }

    .rc-table-rtl & {
      &-fix-right:last-child {
        border-right-color: #000;
      }

      &-fix-left:last-child {
        border-left-color: transparent;
      }
    }

    &-fix-left-first {
      .rc-table-rtl & {
        box-shadow: 1px 0 0 #000;
      }
    }

    &-fix-left-first::after,
    &-fix-left-last::after {
      position: absolute;
      top: 0;
      right: -1px;
      bottom: -1px;

      width: 20px;

      content: '';
      pointer-events: none;

      transition: box-shadow 0.3s;
      transform: translateX(100%);
    }

    &-fix-right-first,
    &-fix-right-last {
      box-shadow: -1px 0 0 #000;

      & .rc-table-rtl & {
        box-shadow: none;
      }

      &::after {
        position: absolute;
        top: 0;
        bottom: -1px;
        left: -1px;

        width: 20px;

        content: '';
        pointer-events: none;

        transition: box-shadow 0.3s;
        transform: translateX(-100%);
      }
    }

    &-ellipsis {
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;

      &.rc-table-cell-fix-left-first,
      &.rc-table-cell-fix-left-last,
      &.rc-table-cell-fix-right-first &.rc-table-cell-fix-right-last {
        overflow: visible;

        & .rc-table-cell-content {
          display: block;
          overflow: hidden;

          text-overflow: ellipsis;
        }
      }
    }
  }

  &-ping-left {
    & .rc-table-cell-fix-left-first::after,
    & .rc-table-cell-fix-left-last::after {
      box-shadow: inset 10px 0 8px -8px green;
    }
  }

  &-ping-right {
    & .rc-table-cell-fix-right-first::after,
    & .rc-table-cell-fix-right-last::after {
      box-shadow: inset -10px 0 8px -8px green;
    }
  }

  &-expand-icon-col {
    width: 60px;
  }

  &-row-expand-icon-cell {
    text-align: center;
  }

  & thead {
    & td,
    & th {
      text-align: center;

      background: #f7f7f7;
    }

    & .rc-table-cell-scrollbar::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1px;

      width: 1px;

      content: '';

      background-color: #f7f7f7;

      .rc-table-rtl& {
        right: -1px;
        left: auto;
      }
    }
  }

  &-header {
    border: 1px solid #000;
    border-right: 0;
    border-bottom: 0;
  }

  &-placeholder {
    text-align: center;
  }

  & tbody tr {
    & td,
    & th {
      background: #fff;
    }
  }

  &-content {
    border: 1px solid #000;
    border-right: 0;
    border-bottom: 0;
  }

  &-body {
    border: 1px solid #000;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
  }

  &-fixed-column &-body::after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;

    content: '';

    border-right: 1px solid #000;
  }

  &-expanded-row {
    .rc-table-cell {
      box-shadow: inset 0 8px 8px -8px green;
    }

    &-fixed {
      box-sizing: border-box;
      margin: -16px -8px;
      margin-right: -10px;
      padding: 16px 8px;

      &::after {
        position: absolute;
        top: 0;
        right: 1px;
        bottom: 0;

        width: 0;

        content: '';

        border-right: 1px solid #000;
      }
    }
  }

  &-row-expand-icon {
    line-height: 16px;

    display: inline-block;

    width: 16px;
    height: 16px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    color: #aaa;
    border: 1px solid currentColor;

    &.rc-table-row-expanded::after {
      content: '-';
    }

    &.rc-table-row-collapsed::after {
      content: '+';
    }

    &.rc-table-row-spaced {
      visibility: hidden;
    }
  }

  &-title {
    padding: 16px 8px;

    border: 1px solid #000;
    border-bottom: 0;
  }

  &-footer {
    padding: 16px 8px;

    border: 1px solid #000;
    border-top: 0;
  }

  & tfoot td {
    background: #fff;
  }

  &-summary {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
  }

  &-sticky {
    &-holder {
      position: sticky;
      z-index: 2;
    }

    &-scroll {
      position: sticky;
      z-index: 2;
      bottom: 0;

      display: flex;
      align-items: center;

      opacity: 0.6;
      border-top: 1px solid #f3f3f3;

      transition: transform 0.1s ease-in 0s;

      &:hover {
        transform: scaleY(1.2);
        transform-origin: center bottom;
      }

      &-bar {
        height: 8px;

        border-radius: 4px;
        background-color: #bbb;

        &:hover {
          background-color: #999;
        }

        &-active {
          background-color: #999;
        }
      }
    }
  }
}
