.rcta--RcTable {
  --table-cell-vertical: var(--space-2xs);
  --table-cell-horizontal: var(--space-xs);
  --table-row-color-first: transparent;
  --table-row-color-second: transparent;
  --table-verticalAlign: top;
  --table-header-align: middle;
  --default-margin-icon: var(--space-2xs);
  --table-row-opacity: 0;
  color: var(--color-typo-primary);

  &_size {
    &_s {
      --table-cell-horizontal: var(--space-xs);
      --table-cell-vertical: var(--space-2xs);
    }

    &_m {
      --table-cell-horizontal: var(--space-s);
      --table-cell-vertical: var(--space-xs);
    }

    &_l {
      --table-cell-horizontal: var(--space-m);
      --table-cell-vertical: var(--space-s);
    }
  }

  &_zebraStriped {
    &_odd {
      --table-row-color-first: var(--color-bg-stripe);
    }

    &_even {
      --table-row-color-second: var(--color-bg-stripe);
    }
  }

  &_borderBetweenColumns {
    tbody > tr > *:not(:first-child) {
      border-left: 1px solid var(--color-bg-border);
    }

    thead > tr > * {
      border-left: 1px solid var(--color-bg-border);
    }

    thead > tr:first-child > *:first-child {
      border-left: none;
    }
  }

  &_borderBetweenRows {
    tbody > tr:not(:last-child) > * {
      border-bottom: 1px solid var(--color-bg-border);
    }

    thead > tr:not(:last-child) > * {
      border-bottom: 1px solid var(--color-bg-border);
    }
  }

  &_verticalAlign {
    &_top {
      --table-verticalAlign: top;

      & .ExpandIcon {
        margin-top: var(--default-margin-icon);
      }
    }

    &_center {
      --table-verticalAlign: middle;
    }

    &_bottom {
      --table-verticalAlign: bottom;

      & .ExpandIcon {
        margin-bottom: var(--default-margin-icon);
      }
    }
  }

  &_headerVerticalAlign {
    &_center {
      --table-header-align: middle;
    }

    &_bottom {
      --table-header-align: bottom;
    }
  }

  &-thead {
    background: var(--color-bg-default);

    & .rcta--RcTable-cell {
      box-sizing: border-box;
      font-size: var(--size-text-xs);
      font-weight: bold;
      line-height: var(--line-height-text-s);
      text-align: left;
    }
  }

  &-tbody {
    overflow: auto;
    height: 100%;

    & .rcta--RcTable-cell {
      font-size: var(--size-text-s);
      font-weight: normal;
      line-height: var(--line-height-text-m);
    }
  }

  &-cell {
    height: max-content;
    padding: var(--table-cell-vertical) var(--table-cell-horizontal);

    &-fix {
      &-left,
      &-right {
        z-index: 1;
        background: var(--color-bg-default);

        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: var(--color-bg-default);
        }

        &-last::after {
          content: '';
          position: absolute;
          top: 0;
          width: 1px;
          height: 100%;
          background: var(--color-bg-border);
        }
      }

      &-left-last::after {
        right: -1px;
      }

      &-right-last::after {
        left: -1px;
      }
    }
  }

  &-body {
    height: 100%;
  }

  & table {
    width: 100%;
    border-spacing: 0;
  }

  thead > tr {
    max-height: calc(var(--table-cell-vertical) + var(--line-height-text-s));
    text-transform: uppercase;

    & > * {
      vertical-align: var(--table-header-align);

      & > * {
        vertical-align: var(--table-header-align);
      }
    }

    &:last-child > * {
      border-bottom: 1px solid var(--color-bg-border);
    }
  }

  &.rcta--RcTable_zebraStriped_odd,
  &.rcta--RcTable_zebraStriped_even {
    & tbody tr {
      --row-background: var(--table-row-color-first);
      background-color: var(--row-background);

      & .rcta--RcTable-cell-fix {
        &-left::before,
        &-right::before {
          background: var(--row-background);
        }
      }

      &:nth-child(2n) {
        --row-background: var(--table-row-color-second);
      }
    }
  }

  tbody > tr {
    max-height: calc(var(--table-cell-vertical) + var(--line-height-text-m));

    &.rcta--RcTable-row-level:not(.rcta--RcTable_zebraStriped_odd):not(.rcta--RcTable_zebraStriped_even) {
      &-0 {
        background-color: rgba(0, 32, 51, 0);
      }

      &-1 {
        background-color: rgba(0, 32, 51, 0.05);
      }

      &-2 {
        background-color: rgba(0, 32, 51, 0.1);
      }

      &-3 {
        background-color: rgba(0, 32, 51, 0.15);
      }

      &-4 {
        background-color: rgba(0, 32, 51, 0.2);
      }

      &-5 {
        background-color: rgba(0, 32, 51, 0.25);
      }
    }

    & * {
      vertical-align: var(--table-verticalAlign);
    }

    &:not(.rcta--RcTable-placeholder):hover {
      background-color: var(--color-bg-ghost);

      & .rcta--RcTable-cell-fix {
        &-left::before,
        &-right::before {
          background: var(--color-bg-ghost);
        }
      }
    }
  }

  &-sticky {
    position: sticky;
    z-index: 1;
    top: 0;

    &-holder {
      position: sticky;
      z-index: 2;
      top: 0;
    }
  }

  &-placeholder {
    text-align: center;

    & > * {
      color: var(--color-typo-primary);
      border-bottom: 1px solid var(--color-bg-border);
      font-size: var(--size-text-s);
      line-height: var(--line-height-text-s);
    }
  }

  tr > * {
    position: relative;
    overflow: visible;
  }
}
